/*.sh
*.tar.gz
Kyuafile
copy-modloop
lbu
setup-acf
setup-ads
setup-alpine
setup-alpine-web
setup-apkcache
setup-apkrepos
setup-bootable
setup-cryptswap
setup-desktop
setup-devd
setup-disk
setup-dns
setup-gparted-desktop
setup-hostname
setup-interfaces
setup-keymap
setup-lbu
setup-mta
setup-ntp
setup-proxy
setup-sshd
setup-timezone
setup-user
setup-xen-dom0
setup-xorg-base
uniso
update-conf
update-kernel
